In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sc
import seaborn as sbn

df=pd.read_csv('trainimp.csv')
df_test=pd.read_csv('testimp.csv')
df_test

,Unnamed: 0,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0,0,1,2,27.000000,0,0.0,0.0,0.0,0.0,0.0
1,1,0,0,2,19.000000,0,0.0,9.0,0.0,2823.0,0.0
2,2,1,1,0,31.000000,0,0.0,0.0,0.0,0.0,0.0
3,3,1,0,2,38.000000,0,0.0,6652.0,0.0,181.0,585.0
4,4,0,0,2,20.000000,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4272,4272,0,1,2,34.000000,0,0.0,0.0,0.0,0.0,0.0
4273,4273,0,0,2,42.000000,0,0.0,847.0,17.0,10.0,144.0
4274,4274,2,1,0,29.346157,0,0.0,0.0,0.0,0.0,0.0
4275,4275,1,0,-1,39.226887,0,0.0,2680.0,0.0,0.0,523.0
4276,4276,0,1,1,43.000000,0,0.0,0.0,0.0,0.0,0.0

In [2]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df_test.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
X_train = df.drop("Transported", axis=1)
y_train = df.Transported

X_test = df_test.copy()

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import classification_report, accuracy_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier

In [11]:
svm = LGBMClassifier(objective='binary')
params = {
    'n_estimators' :(50,75),
    'learning_rate' : (0.08,0.01)
}
clf = GridSearchCV(svm, params, cv=10)
clf.fit(X_train_scaled, y_train)
print("Best hyperparameter:", clf.best_params_)

Best hyperparameter: {'learning_rate': 0.08, 'n_estimators': 50}

In [13]:
y_pred = clf.predict(X_test_scaled)

y_pred= pd.DataFrame(y_pred)
y_pred.replace({0: False, 1: True}, inplace=True)
y_pred

          0
0      True
1     False
2      True
3     False
4     False
...     ...
4272   True
4273  False
4274   True
4275  False
4276  False

[4277 rows x 1 columns]

In [14]:
submission = pd.read_csv("sample_submission.csv")
submission["Transported"] = y_pred
submission.to_csv('submission.csv', index=False)

In [15]:
!kaggle competitions submit -c spaceship-titanic -f submission.csv -m ""

Successfully submitted to Spaceship Titanic

  0%|          | 0.00/61.1k [00:00<?, ?B/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61.1k/61.1k [00:01<00:00, 34.9kB/s]